.card {
  width: 290px;
  box-shadow: 2px 8px 21px -7px #777777;
  border-radius: 10px;
  background-color: #ffffff;
  padding-bottom: 15px;
}

.cardName {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

label {
  font-weight: 700;
}

.title {
  font-weight: 700;
  margin-right: 2px;
}

.typeName {
  margin-left: 8px;
}

.cardInfo {
  text-align: center;
}

.alility {
  margin-right: 10px;
}
